
@{
    ViewBag.Title = "Inventory_Summary";
}

<h2>Inventory_Summary</h2>

<h2 class="my-5">Cart</h2>

<div class="container products-container">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Order No.</th>
                <th scope="col">Type Vaccine</th>
                <th scope="col">Quanity</th>
            </tr>                     

        </thead>
        </table>
    </div>
