
@{
    ViewBag.Title = "Locate";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/CSS/Main.css" />
</head>
<body id="HomepageBody">
<section>
    <div class="container-fluid">
        <button class="btn"><i class="fa-solid fa-location-dot"></i>South Africa</button>
    </div>
</section>
 </body>

</html>





