@using u20676736_HW04.Models
@model List<Patient>
@{
    ViewBag.Title = "Patient_Summary";
}

<h3>Patient_Summary</h3>

<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script src="~/Scripts/Summernote/summernote-lite.min.js"></script>
<link href="~/Scripts/Summernote/summernote-lite.min.css" rel="stylesheet" />
<head>
    <style type="text/css">
        .auto-style {
            color: #FFFFFF;
        }

        .t {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Patient Summary</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-info">
            <i class="fas fa-plus"></i>  Create New Patient
        </a>
    </div>
</div>

@{ var result = "";
    Array tempData = null;
    char[] delimiterChar = { ',' };

    var dataFile = Server.MapPath("~/App_Data/tempData.txt");

    if (File.Exists(dataFile))
    {
        tempData = File.ReadAllLines(dataFile);
        if (tempData == null)
        {
            // Empty file.
            result = "The file is empty.";
        }
    }
    else
    {
        // File does not exist.
        result = "The file does not exist.";
    } }

<div class="well-sm">
    <div>
        @result
        @if (result == "")
        {
            <div class="jumbotron" style="height: 450px; overflow: auto;">
                <table class="table table-condensed table-hover">
                    <thead style="position: sticky;top: 0">
                        <tr bgcolor="#222222" class="auto-style">
                            <th class="t">FIRST NAME</th>
                            <th class="t">LAST NAME</th>
                            <th class="t">ADDRESS</th>
                            <th class="t">PHONE</th>
                            <th class="t">SEX</th>
                            <th class="t">AGE</th>
                            <th class="t">DATE</th>
                            <th class="t">DOSAGE</th>
                            <th class="t">GET VACCINE</th>
                            <th class="t">REMOVE PATIENT</th>
                        </tr>
                    </thead>
                    @foreach (string dataLine in tempData)
                    {
                        <tr>
                            @foreach (string dataItem in dataLine.Split(delimiterChar))
                            {
                                <td class="t">@dataItem</td>

                            }
                        </tr>
                    }
                    @foreach (Patient patient in Model)
                    {
                        <tr>
                            <td>@patient.LastName</td>
                            <td class="t">@Html.ActionLink("Edit", "Edit", new { patientName = patient.LastName }, new { @class = "btn btn-success btn-sm" })</td>
                            <td class="t">@Html.ActionLink("Remove Patient", "DeleteFile", new { patientName = patient.LastName }, new { @class = "btn btn-danger btn-sm" })</td>
                        </tr>

                    }
                </table>
            </div>
        }
    </div>
</div>

<div id="summerynote"></div>
<script>
    $('#summerynote').summerynote({
        placeholder: '',
        tabsize: 1,
        height: 250,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

<style>
    .jumbotron {
        background-color: #e9ecef;
    }
</style>

